.background-pic{
    margin: 0; 
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15%;
  }
  
.above-login{
    margin: 0;
    padding: 0;
}

.remove-space{
    margin: 0;
    padding: 0;
}
